:not(:defined) {
    visibility: hidden;
}


a {
    text-decoration: none;
    color: inherit;
}

#app {
    position: relative;
    overflow: hidden;
}

mdui-top-app-bar {
    position: fixed !important;
}

#drawer_contain {
    position: relative;
    overflow: hidden;
}