@keyframes text-shake {

    2%,
    24%,
    80% {
        -webkit-transform: translateY(0.3em) rotate(1.5deg);
        -moz-transform: translateY(0.3em) rotate(1.5deg);
        -ms-transform: translateY(0.3em) rotate(1.5deg);
        -o-transform: translateY(0.3em) rotate(1.5deg);
        transform: translateY(0.3em) rotate(1.5deg);
    }

    4%,
    68%,
    98% {
        -webkit-transform: translateY(-0.3em) rotate(-.5deg);
        -moz-transform: translateY(-0.3em) rotate(-.5deg);
        -ms-transform: translateY(-0.3em) rotate(-.5deg);
        -o-transform: translateY(-0.3em) rotate(-.5deg);
        transform: translateY(-0.3em) rotate(-.5deg)
    }

    38%,
    6% {
        -webkit-transform: translateY(0.3em) rotate(-1.5deg);
        -moz-transform: translateY(0.3em) rotate(-1.5deg);
        -ms-transform: translateY(0.3em) rotate(-1.5deg);
        -o-transform: translateY(0.3em) rotate(-1.5deg);
        transform: translateY(0.3em) rotate(-1.5deg)
    }

    8%,
    86% {
        -webkit-transform: translateY(-0.3em) rotate(-1.5deg);
        -moz-transform: translateY(-0.3em) rotate(-1.5deg);
        -ms-transform: translateY(-0.3em) rotate(-1.5deg);
        -o-transform: translateY(-0.3em) rotate(-1.5deg);
        transform: translateY(-0.3em) rotate(-1.5deg)
    }

    10%,
    72% {
        -webkit-transform: translateY(0.5em) rotate(1.5deg);
        -moz-transform: translateY(0.5em) rotate(1.5deg);
        -ms-transform: translateY(0.5em) rotate(1.5deg);
        -o-transform: translateY(0.5em) rotate(1.5deg);
        transform: translateY(0.5em) rotate(1.5deg)
    }

    12%,
    64%,
    78%,
    96% {
        -webkit-transform: translateY(-0.1em) rotate(1.5deg);
        -moz-transform: translateY(-0.1em) rotate(1.5deg);
        -ms-transform: translateY(-0.1em) rotate(1.5deg);
        -o-transform: translateY(-0.1em) rotate(1.5deg);
        transform: translateY(-0.1em) rotate(1.5deg)
    }

    14%,
    54% {
        -webkit-transform: translateY(-0.3em) rotate(1.5deg);
        -moz-transform: translateY(-0.3em) rotate(1.5deg);
        -ms-transform: translateY(-0.3em) rotate(1.5deg);
        -o-transform: translateY(-0.3em) rotate(1.5deg);
        transform: translateY(-0.3em) rotate(1.5deg)
    }

    16% {
        -webkit-transform: translateY(-0.1em) rotate(-1.5deg);
        -moz-transform: translateY(-0.1em) rotate(-1.5deg);
        -ms-transform: translateY(-0.1em) rotate(-1.5deg);
        -o-transform: translateY(-0.1em) rotate(-1.5deg);
        transform: translateY(-0.1em) rotate(-1.5deg)
    }

    18%,
    22% {
        -webkit-transform: translateY(0.1em) rotate(-1.5deg);
        -moz-transform: translateY(0.1em) rotate(-1.5deg);
        -ms-transform: translateY(0.1em) rotate(-1.5deg);
        -o-transform: translateY(0.1em) rotate(-1.5deg);
        transform: translateY(0.1em) rotate(-1.5deg)
    }

    20%,
    36%,
    46% {
        -webkit-transform: translateY(-0.3em) rotate(2.5deg);
        -moz-transform: translateY(-0.3em) rotate(2.5deg);
        -ms-transform: translateY(-0.3em) rotate(2.5deg);
        -o-transform: translateY(-0.3em) rotate(2.5deg);
        transform: translateY(-0.3em) rotate(2.5deg)
    }

    26%,
    50% {
        -webkit-transform: translateY(0.1em) rotate(.5deg);
        -moz-transform: translateY(0.1em) rotate(.5deg);
        -ms-transform: translateY(0.1em) rotate(.5deg);
        -o-transform: translateY(0.1em) rotate(.5deg);
        transform: translateY(0.1em) rotate(.5deg)
    }

    28% {
        -webkit-transform: translateY(0.1em) rotate(1.5deg);
        -moz-transform: translateY(0.1em) rotate(1.5deg);
        -ms-transform: translateY(0.1em) rotate(1.5deg);
        -o-transform: translateY(0.1em) rotate(1.5deg);
        transform: translateY(0.1em) rotate(1.5deg)
    }

    30%,
    40%,
    62%,
    76%,
    88% {
        -webkit-transform: translateY(-0.1em) rotate(2.5deg);
        -moz-transform: translateY(-0.1em) rotate(2.5deg);
        -ms-transform: translateY(-0.1em) rotate(2.5deg);
        -o-transform: translateY(-0.1em) rotate(2.5deg);
        transform: translateY(-0.1em) rotate(2.5deg)
    }

    32%,
    34%,
    66% {
        -webkit-transform: translateY(0.3em) rotate(-.5deg);
        -moz-transform: translateY(0.3em) rotate(-.5deg);
        -ms-transform: translateY(0.3em) rotate(-.5deg);
        -o-transform: translateY(0.3em) rotate(-.5deg);
        transform: translateY(0.3em) rotate(-.5deg)
    }

    42% {
        -webkit-transform: translateY(0.5em) rotate(-1.5deg);
        -moz-transform: translateY(0.5em) rotate(-1.5deg);
        -ms-transform: translateY(0.5em) rotate(-1.5deg);
        -o-transform: translateY(0.5em) rotate(-1.5deg);
        transform: translateY(0.5em) rotate(-1.5deg)
    }

    44%,
    70% {
        -webkit-transform: translateY(0.3em) rotate(.5deg);
        -moz-transform: translateY(0.3em) rotate(.5deg);
        -ms-transform: translateY(0.3em) rotate(.5deg);
        -o-transform: translateY(0.3em) rotate(.5deg);
        transform: translateY(0.3em) rotate(.5deg)
    }

    48%,
    74%,
    82% {
        -webkit-transform: translateY(-0.1em) rotate(.5deg);
        -moz-transform: translateY(-0.1em) rotate(.5deg);
        -ms-transform: translateY(-0.1em) rotate(.5deg);
        -o-transform: translateY(-0.1em) rotate(.5deg);
        transform: translateY(-0.1em) rotate(.5deg)
    }

    52%,
    56%,
    60% {
        -webkit-transform: translateY(0.5em) rotate(2.5deg);
        -moz-transform: translateY(0.5em) rotate(2.5deg);
        -ms-transform: translateY(0.5em) rotate(2.5deg);
        -o-transform: translateY(0.5em) rotate(2.5deg);
        transform: translateY(0.5em) rotate(2.5deg)
    }

    58% {
        -webkit-transform: translateY(0.1em) rotate(2.5deg);
        -moz-transform: translateY(0.1em) rotate(2.5deg);
        -ms-transform: translateY(0.1em) rotate(2.5deg);
        -o-transform: translateY(0.1em) rotate(2.5deg);
        transform: translateY(0.1em) rotate(2.5deg)
    }

    84% {
        -webkit-transform: translateY(0.3em) rotate(2.5deg);
        -moz-transform: translateY(0.3em) rotate(2.5deg);
        -ms-transform: translateY(0.3em) rotate(2.5deg);
        -o-transform: translateY(0.3em) rotate(2.5deg);
        transform: translateY(0.3em) rotate(2.5deg)
    }

    90% {
        -webkit-transform: translateY(0.5em) rotate(-.5deg);
        -moz-transform: translateY(0.5em) rotate(-.5deg);
        -ms-transform: translateY(0.5em) rotate(-.5deg);
        -o-transform: translateY(0.5em) rotate(-.5deg);
        transform: translateY(0.5em) rotate(-.5deg)
    }

    92% {
        -webkit-transform: translateY(0.1em) rotate(-.5deg);
        -moz-transform: translateY(0.1em) rotate(-.5deg);
        -ms-transform: translateY(0.1em) rotate(-.5deg);
        -o-transform: translateY(0.1em) rotate(-.5deg);
        transform: translateY(0.1em) rotate(-.5deg)
    }

    94% {
        -webkit-transform: translateY(0.5em) rotate(.5deg);
        -moz-transform: translateY(0.5em) rotate(.5deg);
        -ms-transform: translateY(0.5em) rotate(.5deg);
        -o-transform: translateY(0.5em) rotate(.5deg);
        transform: translateY(0.5em) rotate(.5deg)
    }

    0%,
    to {
        -webkit-transform: translate(0) rotate(0);
        -moz-transform: translate(0) rotate(0);
        -ms-transform: translate(0) rotate(0);
        -o-transform: translate(0) rotate(0);
        transform: translate(0) rotate(0)
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    /* 开启flex布局 */
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
    background-color: #f8f9fa;
    /* 可选：加个浅背景更美观 */
}

.notfound {
    font-style: italic;
    font-size: 2rem;
    /* 可选：放大字体更醒目 */
    color: #333;
    /* 可选：调整文字颜色 */
    animation: text-shake 10s ease-in-out infinite;
}